* {
    margin: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.bg {
    width: 500 !important;
    max-width: 800px;
    background: url("./images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
}

.button {
    justify-content: space-evenly;
    display: flex;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 30px 0px;
}

button {
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}